h1{
  color : purple;
}

#content
{
   /* text-align: center; */
   padding: 20%;
}

body{
  /* background : url(logo.jpg); */
  /* background-size: cover;
  opacity:0.9;
  -webkit-filter: blur(0px);
  background-position: center; */
}

.left {
/* float: left; */
/* padding: 0 10px 10px 0; */
max-width: 800px;
    height: 400px;
background-position: left;
background-position : center;
}

.right {
float: right;
padding: 0 10px 10px 0;
background-position: right;
}

#mainnav
{
  size : 10px;
}
body{
  padding: 1%;
}
