h1{
  color : #8c1515;
}
/* rgb(35,19,110) */
#content
{
   padding: 10%;

}

.fntsiz{
  font-size : 1.5rem;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
     justify-content: space-between; 
}

.navbar-nav {
    padding-right: 10%;
   
}

.navbar
{
  font-style: inherit;
  font-weight: bolder;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

/*#textfont
{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}*/

body{

/*  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("background.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);*/

  /*background : url("background.jpg") center center;
  filter: blur(8px);
  -webkit-filter: blur(8px);*/



 /*background: #8e9eab;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: cover;
  opacity:0.9;
  -webkit-filter: blur(0px);
  /*padding: 2%;*/
  background-position: center ;
}





.left {
/* float: left; */
/* padding: 0 10px 10px 0; */
max-width: 800px;
    height: 400px;
background-position: left;
background-position : center;

}

.right {
float: right;
padding: 0 10px 10px 0;
background-position: right;
text-align: left;
padding: 1%;

}

#welcome
{
  position: centre;
  padding-left: 16%;
  padding-top: 11%;
}

#mainnav
{
  size : 10px;
  padding-left: 15%
}

table, th, td {
    border: 1px solid white;
}

.bg-dark {
    background-color: #8c1515!important;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}
