h1{
  color : purple;
}

#content
{
   /* text-align: center; */
   padding: 10%;
}

body{

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: cover;
>>>>>>> 8fd54d50a50a90321c73beceafb780a6538e9c5f
  opacity:0.9;
  -webkit-filter: blur(0px);
<<<<<<< HEAD
  background-position: center; */
}

.left {
/* float: left; */
/* padding: 0 10px 10px 0; */
max-width: 800px;
    height: 400px;
background-position: left;
background-position : center;

}

.right {
float: right;
padding: 0 10px 10px 0;
background-position: right;
text-align: left;
=======
  padding: 1%;
>>>>>>> 6a2054b5152ef90d41f4070ef9376cd55cce5ce8
}

#mainnav
{
  size : 10px;
}
body{
  padding: 1%;
}

table, th, td {
    border: 1px solid white;
}
