h1{
  color : rgb(35,19,110);
  text-align: center;
  padding-top: 3%;
}
body{
  padding: 2%;
  opacity : 0.9;
}
.bg-dark {
    background-color: rgb(35,19,110)!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}
