h1{
  color : #8c1515;
  text-align: center;
  padding-top: 3%;
}

h3{
  color : grey;
  padidng : 2%;
}
body{
  padding: 2%;
  opacity : 0.9;
}

.bg-dark {
    background-color: #8c1515!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}
